In [3]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\aaa\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\aaa\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\aaa\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)
Requirement already satisfied: requests in c:\users\aaa\anaconda3\lib\site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\aaa\anaconda3\lib\site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aaa\anaconda3\lib\site-packages (from requests) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\aaa\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\aaa\anaconda3\lib\site-packages (from requests) (1.26.11)

In [4]:
#1) Write a python program to display all the header tags from wikipedia.org and make data frame.

import requests
from bs4 import BeautifulSoup
import pandas as pd

page= requests.get('https://en.wikipedia.org/wiki/Main_Page') 

soup= BeautifulSoup(page.content)

header= [] 
for i in soup.find_all('span',class_="mw-headline"):
    header.append(i.text)

df=pd.DataFrame({'Headers':header})
df

                         Headers
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [5]:
#2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://currentaffairs.adda247.com/list-of-presidents-of-india/ and make data frame.

# NOTE:the given link in Q is showing 'page not found'. So for name & image.

import requests
from bs4 import BeautifulSoup
import pandas as pd


#for Name
page= requests.get('https://currentaffairs.adda247.com/list-of-presidents-of-india/')

soup= BeautifulSoup(page.content)

name=[]
for i in soup.find_all ('td',width="220"):
    name.append(i.text.replace('\nName\n',''))

    
#for Term of office    
page2= requests.get('https://currentaffairs.adda247.com/list-of-presidents-of-india/') #if both the datas('name' and 'detaisl') are taken from the same link then no need to mention it twice

soup2= BeautifulSoup(page2.content) #if both the datas('name' and 'detaisl') are taken from the same link then no need to mention it twice
   
detail1=[]
for i in soup2.find_all ('td',width="180"):
    detail1.append(i.text.replace('\nStart Date\n',''))    

    
detail2=[]
for i in soup2.find_all ('td',width="201"):
    detail2.append(i.text.replace('Closing date','')) 
    

#printing length
print(len(name),len(detail1),len(detail2)) #both columns should have same number of datas to make a dataframe


# Making dataframe
df=pd.DataFrame({'Names':name, 'Start Date':detail1, 'Closing Date':detail2})
df

17 17 17

                           Names       Start Date      Closing Date
0
1            Dr. Rajendra Prasad  26 January 1950       13 May 1962
2   Dr. Sarvepalli Radhakrishnan      13 May 1962       13 May 1967
3              Dr. Zakir Hussain      13 May 1967        3 May 1969
4        Varahagiri Venkata Giri       3 May 1969      20 July 1969
5        Varahagiri Venkata Giri   24 August 1969    24 August 1974
6           Fakhruddin Ali Ahmed   24 August 1974  11 February 1977
7           Neelam Sanjiva Reddy     25 July 1977      25 July 1982
8               Giani Zali Singh     25 July 1982      25 July 1987
9         Ramaswamy Venkataraman     25 July 1987      25 July 1992
10          Shankar Dayal Sharma     25 July 1992      25 July 1997
11      Kocheril Raman Narayanan     25 July 1997      25 July 2002
12        Dr. A.P.J. Abdul Kalam     25 July 2002      25 July 2007
13                Pratibha Patil     25 July 2007      25 July 2012
14              Pranab Mukherjee     25 July 2012      25 July 2017
15          Shri Ram Nath Kovind     25 July 2017      21 July 2022
16                Draupadi Murmu     21 July 2022           Working

In [6]:
#3) b) Top 10 ODI Batsmen along with the records of their team and rating.



page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting') 

soup= BeautifulSoup(page.content)


player= [] 
team=[]
rating= [] 


#player
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.replace('\n',''))


#team names
team_name= [] 
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)


# rating
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)

print(len(player), len(team),len(rating)) # checking

 
    
#Making dataframe

df=pd.DataFrame({'Batsmen player Name':player[0:10], 'Team':team[:10], 'Rating':rating[:10]})
df

99 99 99

     Batsmen player Name Team Rating
0           Shubman Gill  IND    759
1  Rassie van der Dussen   SA    745
2           David Warner  AUS    739
3            Imam-ul-Haq  PAK    735
4           Harry Tector  IRE    726
5        Quinton de Kock   SA    721
6            Virat Kohli  IND    715
7           Rohit Sharma  IND    707
8           Fakhar Zaman  PAK    705
9           Temba Bavuma   SA    691

In [8]:
#3) c) Top 10 ODI bowlers along with the records of their team and rating.

page= requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling') 

soup= BeautifulSoup(page.content)


player= [] 
team=[]
rating= [] 


#player
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.replace('\n',''))


#team names
team_name= [] 
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)


# rating
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)

print(len(player), len(team),len(rating)) # checking

 
    
#Making dataframe

df=pd.DataFrame({'Bowlers player Name':player[0:10], 'Team':team[:10], 'Rating':rating[:10]})
df#4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
# b) Top 10 women’s ODI Batting players along with the records of their team and rating.



page= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting') 

soup= BeautifulSoup(page.content)


player= [] 
team=[]
rating= [] 


#player
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.replace('\n',''))


#team names
team_name= [] 
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)


# rating
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)

print(len(player), len(team),len(rating)) # checking

 
    
#Making dataframe

df=pd.DataFrame({'Batting player Name':player[0:10], 'Team':team[:10], 'Rating':rating[:10]})
df

99 99 99
99 99 99

   Batting player Name Team Rating
0          Beth Mooney  AUS    751
1  Chamari Athapaththu   SL    743
2      Laura Wolvaardt   SA    708
3      Smriti Mandhana  IND    708
4         Alyssa Healy  AUS    702
5     Harmanpreet Kaur  IND    694
6         Ellyse Perry  AUS    686
7          Meg Lanning  AUS    682
8      Stafanie Taylor   WI    618
9       Marizanne Kapp   SA    617

In [9]:
#4) c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

page= requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder') 

soup= BeautifulSoup(page.content)


player= [] 
team=[]
rating= [] 


#player
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    player.append(i.text.replace('\n',''))


#team names
team_name= [] 
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)


# rating
for i in soup.find_all('td',class_="table-body__cell rating"):
    rating.append(i.text)

print(len(player), len(team),len(rating)) # checking

 
    
#Making dataframe

df=pd.DataFrame({'all rounder player Name':player[0:10], 'Team':team[:10], 'Rating':rating[:10]})
df

19 19 19

  all rounder player Name Team Rating
0        Ashleigh Gardner  AUS    389
1         Hayley Matthews   WI    382
2          Marizanne Kapp   SA    362
3            Ellyse Perry  AUS    329
4             Amelia Kerr   NZ    328
5           Deepti Sharma  IND    312
6           Jess Jonassen  AUS    241
7           Sophie Devine   NZ    233
8                Nida Dar  PAK    217
9       Sophie Ecclestone  ENG    196

In [10]:
#5)Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame-
# i) Headline
# ii) Time
# iii) News Link


import requests
from bs4 import BeautifulSoup
import pandas as pd

page= requests.get('https://www.cnbc.com/world/?region=world') 

soup= BeautifulSoup(page.content)

#for latest news headline

news=[]
for i in soup.find_all ('div',class_="LatestNews-headlineWrapper"):
    news.append(i.text)
    

#for time

time=[]
for i in soup.find_all ('time',class_="LatestNews-timestamp"):
    time.append(i.text)

#for link

link=[]
for i in soup.find_all ('a',class_="LatestNews-headline"):
    link.append(i)

#printing length to check if all the list have same lenth to proceed for data frame  
print(len(time),len(news),len(link))
      

    
# Making dataframe

df=pd.DataFrame({'News Headline':news, 'Time':time, 'News Link':link})
df

30 30 30

,News Headline,Time,News Link
0,53 Min AgoThe No. 1 personality trait linked t...,53 Min Ago,[The No. 1 personality trait linked to a long ...
1,3 Hours AgoThese are the 11 sectors of the S&P...,3 Hours Ago,[These are the 11 sectors of the S&P 500 — and...
2,3 Hours AgoNo. 1 tip for starting a side hustl...,3 Hours Ago,"[No. 1 tip for starting a side hustle, from 2 ..."
3,4 Hours AgoThese are the top 10 states for you...,4 Hours Ago,[These are the top 10 states for young workers...
4,4 Hours AgoWhy health insurance is poised to m...,4 Hours Ago,[Why health insurance is poised to make inflat...
5,5 Hours AgoHollywood pays a steep price for ne...,5 Hours Ago,[Hollywood pays a steep price for never really...
6,5 Hours AgoDisney asset sales won't break the ...,5 Hours Ago,"[Disney asset sales won't break the bank, but ..."
7,5 Hours AgoIt’s been one year since the Ethere...,5 Hours Ago,[It’s been one year since the Ethereum merge. ...
8,5 Hours AgoBehind Warren Buffett's $100 billio...,5 Hours Ago,[Behind Warren Buffett's $100 billion-plus bet...
9,5 Hours AgoOne individual investor favorite ha...,5 Hours Ago,[One individual investor favorite has endured ...
10,"23 Hours AgoStellantis offers raises, inflatio...",23 Hours Ago,"[Stellantis offers raises, inflation protectio..."
11,23 Hours AgoStrong retail sales despite stubbo...,23 Hours Ago,[Strong retail sales despite stubborn inflatio...
12,"September 16, 20234 things the world's longest...","September 16, 2023",[4 things the world's longest-living people do...
13,"September 16, 2023How Olipop's founders starte...","September 16, 2023",[How Olipop's founders started a soda brand br...
14,"September 16, 2023Here are three things we're ...","September 16, 2023",[Here are three things we're watching in the m...
15,"September 16, 2023U.S. states where property t...","September 16, 2023",[U.S. states where property taxes are highest—...
16,"September 16, 2023The No. 1 thing successful p...","September 16, 2023",[The No. 1 thing successful parents who raise ...
17,"September 16, 2023Mark Cuban: If someone says ...","September 16, 2023",[Mark Cuban: If someone says they can make you...
18,"September 16, 2023Top investor Jenny Harringto...","September 16, 2023",[Top investor Jenny Harrington breaks down her...
19,"September 16, 20233 financial tips for couples...","September 16, 2023",[3 financial tips for couples moving in togeth...
20,"September 16, 2023Analysts said obesity drugs ...","September 16, 2023",[Analysts said obesity drugs would be blockbus...
21,"September 16, 2023Analysts see stocks like Mic...","September 16, 2023",[Analysts see stocks like Microsoft offering '...
22,"September 16, 2023Stocks churn with the S&P 50...","September 16, 2023",[Stocks churn with the S&P 500 sitting at the ...
23,"September 16, 2023We gave the $2.1 million Rim...","September 16, 2023",[We gave the $2.1 million Rimac Nevera electri...
24,"September 15, 2023Trump lashes out at Jack Smi...","September 15, 2023",[Trump lashes out at Jack Smith's bid for part...
25,"September 15, 2023Cramer's Lightning Round: Se...","September 15, 2023",[Cramer's Lightning Round: Sell Joby Aviation]
26,"September 15, 2023Cramer's week ahead: Pay att...","September 15, 2023",[Cramer's week ahead: Pay attention to the Fed...
27,"September 15, 2023Okta CEO on MGM breach: Comp...","September 15, 2023",[Okta CEO on MGM breach: Companies are under '...
28,"September 15, 2023Jack Smith wants Trump barre...","September 15, 2023",[Jack Smith wants Trump barred from posting on...
29,"September 15, 2023Adobe falls after posting qu...","September 15, 2023",[Adobe falls after posting quarterly results. ...

In [11]:
#6) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame-
# i) Paper Title
# ii) Authors
# iii) Published Date
# iv) Paper URL

import requests
from bs4 import BeautifulSoup
import pandas as pd

page= requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
soup= BeautifulSoup(page.content)


#empty list for store the scraped data 
title=[]
author=[]
pub_date=[]
url=[]


# for Paper Title

for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)

#for Authors

for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    author.append(i.text)

#for publish date

for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    pub_date.append(i.text)

    
#for paper URL 

for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    url.append(i)

    
    
# Printing legth   
print(len(title),len(author),len(pub_date), len(url))



# Making dataframe

df=pd.DataFrame({'Paper Title':title, 'Authors':author, 'Published Date':pub_date, 'Paper URL':url})
df

24 24 24 24

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,[[Reward is enough]]
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,[[Explanation in artificial intelligence: Insi...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,[[Creativity and artificial intelligence]]
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,[[Conflict-based search for optimal multi-agen...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,[[Knowledge graphs as tools for explainable ma...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,[[Law and logic: A review from an argumentatio...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,[[Between MDPs and semi-MDPs: A framework for ...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,[[Explaining individual predictions when featu...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,[[Multiple object tracking: A literature review]]
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,[[A survey of inverse reinforcement learning: ...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,[[Evaluating XAI: A comparison of rule-based a...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,[[Explainable AI tools for legal reasoning abo...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,[[Hard choices in artificial intelligence]]
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,[[Assessing the communication gap between AI m...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,[[Explaining black-box classifiers using post-...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,[[The Hanabi challenge: A new frontier for AI ...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,[[Wrappers for feature subset selection]]
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,[[Artificial cognition for social human–robot ...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,[[A review of possible effects of cognitive bi...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,[[The multifaceted impact of Ada Lovelace in t...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,[[Robot ethics: Mapping the issues for a mecha...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,[[Reward (Mis)design for autonomous driving]]
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,[[Planning and acting in partially observable ...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,[[What do we want from Explainable Artificial ...

In [12]:
#7) Write a python program to scrape mentioned details from dineout.co.in and make data frame-
# i) Restaurant name
# ii) Cuisine
# iii) Location
# iv) Ratings
# v) Image URL

import requests
from bs4 import BeautifulSoup
import pandas as pd

page= requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
soup= BeautifulSoup(page.content)


#empty list for store the scraped data 
restaurant=[]
cuisine=[]
location=[]
rating=[]
image=[]

# for Restaurant name

for i in soup.find_all('a',class_="restnt-name ellipsis"):
    restaurant.append(i.text)


#for Cuisine

for i in soup.find_all('div',class_="detail-info"):
    cuisine.append(i.text.replace('(approx)',''))


#for Location

for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)


#for Ratings 

for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)


    
#for Image URL

for i in soup.find_all('img',class_="no-img"):
    image.append(i['data-src'])
    
    
# Printing legth   
print(len(restaurant),len(cuisine),len(location),len(rating),len(image))


# Making dataframe

df=pd.DataFrame({'Restaurant name':restaurant, 'Cuisine':cuisine, 'Location':location, 'Ratings':rating,'Image URL':image})
df

9 9 9 9 9

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Castle Barbeque,"₹ 2,000 for 2 | Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,Cafe Knosh,"₹ 3,000 for 2 | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,Castle's Barbeque,"₹ 2,000 for 2 | Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,India Grill,"₹ 2,400 for 2 | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"₹ 1,700 for 2 | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,Delhi Barbeque,"₹ 1,800 for 2 | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que Village,"₹ 1,900 for 2 | North Indian","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,Indian Grill Room,"₹ 2,200 for 2 | North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,The Barbeque Times,"₹ 1,500 for 2 | North Indian, Continental, Ch...","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...